body{
    margin 0;
}

.container{
    min-height: 100vh;
    font-family: 'Poppins';
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}

header,
footer{
    background-color: #5f5d5d;
    color: white;
    font-size: 12px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

